<!DOCTYPE html>
<!--[if lte IE 7]><html class="ie7"><![endif]-->  
<!--[if IE 8]><html class="ie8"><![endif]-->  
<!--[if IE 9]><html class="ie9"><![endif]-->  
<!--[if !IE]><!--><html><!--<![endif]-->  
<head>
{{! Document Settings }}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

{{! Page Meta }}
<title>{{meta_title}}</title>
<meta name="description" content="{{meta_description}}" />

{{! Mobile Support }}
<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{{! Styles'n'Scripts }}
<link rel="shortcut icon" href="{{asset "favicon.ico"}}">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand" >
<link rel="stylesheet" type="text/css" href="{{asset "css/animate.min.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "css/font-awesome.min.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "css/responsive.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "css/main-color.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "js/fancybox/jquery.fancybox.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "js/fancybox/helpers/jquery.fancybox-buttons.css"}}">
<link rel="stylesheet" type="text/css" href="{{asset "css/prettify-bootstrap.css"}}">
<!--[if lt IE 9]>
<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{{ghost_head}}

</head>
<body class="enable_animations {{body_class}}" {{#if @blog.cover}}style="background: url({{@blog.cover}}) no-repeat center center fixed;"{{/if}}>

	{{! Mobile menu. Note: The nav links are the same of #header > .main-nav, just check out assets/js/global.js }}
	<nav class="mobile nav" role="navigation"></nav>
	<div class="overlay mobile"></div>
	
	<!-- start: #wrapper -->
	<div id="wrapper">
	
		{{> header}}
		
        {{{body}}}
		
		{{> footer}}		
		
    </div>
    <!-- end: #wrapper -->
	
	<a href="#" id="back-to-top"><i class="fa fa-arrow-up"></i></a>
	
    {{ghost_foot}}
	
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/jquery.appear.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/jquery.sticky.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/google-code-prettify/prettify.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/fancybox/jquery.fancybox.pack.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/fancybox/helpers/jquery.fancybox-buttons.js"}}"></script>
  <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    <script type="text/javascript" src="{{asset "js/global.js"}}"></script>
</body>
</html>
